.main-photos {
    background-color: var(--color-primary-boda);
}

.container-photos {
    background-image: url('../../../assets/photos-trip/chichen\ itza.png');
    background-position: right -50% bottom 45%;
    // background-position-y: center;
    background-repeat: no-repeat;
    background-size: contain;
    // background-color: var(--color-secondary-boda);
    padding: 50px 70px;
    // opacity: 0.5;
}

.gif-image-trip {
    width: 100px;
    height: 100px;
}

h1, h3 {
    text-align: center;
    color: #4A6DC4;
    font-weight: bold;
    font-family: 'Diphylleia';
    // text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.row-photos {
    .col-sm-4 {
        padding: 5px;
        .card-photo {
            // border: 1px solid gray;
            box-shadow: 1px 1px 1px 1px gray;
            padding: 20px 20px 60px 20px;
            background-color: white;
            img {
                width: 100%;
            }
        }
    }
}