h1, h3, h5, p {
    text-align: center;
    color: var(--color-primary-boda);
}
h1 {
    font-weight: bold;
    font-family: 'Playfair Display', sans-serif;
    font-size: 60px;
}
h3 {
    color: #AA54B8;
    font-family: 'Diphylleia', sans-serif;
    font-size: 30px;
}

.row-dress-code {
    display: flex;
    flex-wrap: nowrap;
    div {
        width: 50%;
    }
}

.color-novia {
    display: flex;
    justify-content: center;
    span {
        display: flex;
        width: 15px;
        height: 15px;
        border-radius: 50%;
    }
}

.card-details {
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px gray;
    margin: 20px;
    padding: 20px;
    height: calc(100% - 40px);
    h3 {
        font-weight: bold;
        font-family: 'Playfair Display', sans-serif;
        font-size: 28px;
        color: var(--color-primary-boda);
    }
    h5, p {
        color: #AA54B8;
        font-family: 'Diphylleia', sans-serif;
        font-size: 18px;
    }
}

.button-boda {
    margin-top: 40px;
}

.main-party {
    // background-color: var(--color-secondary-boda);
}

.container-party {
    background-image: url('../../../assets/party/muralla-china.png');
    background-position-x: -150px;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 20px;
    // background-color: var(--color-secondary-boda);
}