h1, h3, h5 {
    text-align: center;
}

.card-details {
    background-color: white;
    margin: 20px;
    padding: 20px;
    height: calc(100% - 40px);
}

.button-boda {
    margin-top: 10px;
}

.container-party {
    padding: 20px;
}