
<div class="container-schedule">
    <div class="row g-0 justify-content-start w-100">
        <div class="activity-left">
            <div class="activity-description">
                <div class="description-img">
                    <img src="assets/schedule/church.png" alt="">
                </div>
                <div class="description-text">
                    <p class="w-100 text-center m-0">Boda religiosa<br>3:00pm</p>
                </div>
            </div>
            <div class="separator">
                <div class="line"></div>
            </div>
        </div>
        <!-- <div class="activity-right">
            <p class="w-100 text-center">Boda religiosa<br>3:00pm</p>
        </div> -->
    </div>
    <div class="row g-0 justify-content-end w-100">
        <div class="activity-right">
            <div class="separator">
                <div class="line"></div>
            </div>
            <div class="activity-description">
                <div class="description-img">
                    <img src="assets/schedule/bus.png" alt="">
                </div>
                <div class="description-text">
                    <p class="w-100 text-center m-0">Autobus<br>4:00pm</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-0 justify-content-start w-100">
        <div class="activity-left">
            <div class="activity-description">
                <div class="description-img">
                    <img src="assets/schedule/wedding.png" alt="">
                </div>
                <div class="description-text">
                    <p class="w-100 text-center m-0">Boda civil<br>5:30pm</p>
                </div>
            </div>
            <div class="separator">
                <div class="line"></div>
            </div>
        </div>
    </div>
    <div class="row g-0 justify-content-end w-100">
        <div class="activity-right">
            <div class="separator">
                <div class="line"></div>
            </div>
            <div class="activity-description">
                <div class="description-img">
                    <img src="assets/schedule/cheer.png" alt="">
                </div>
                <div class="description-text">
                    <p class="w-100 text-center m-0">Recepción<br>6:00pm</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-0 justify-content-start w-100">
        <div class="activity-left">
            <div class="activity-description">
                <div class="description-img">
                    <img src="assets/schedule/dance.png" alt="">
                </div>
                <div class="description-text">
                    <p class="w-100 text-center m-0">Entrada de novios<br>6:30pm</p>
                </div>
            </div>
            <div class="separator">
                <div class="line"></div>
            </div>
        </div>
    </div>
    <div class="row g-0 justify-content-end w-100">
        <div class="activity-right">
            <div class="separator">
                <div class="line"></div>
            </div>
            <div class="activity-description">
                <div class="description-img">
                    <img src="assets/schedule/dinner.png" alt="">
                </div>
                <div class="description-text">
                    <p class="w-100 text-center m-0">Cena<br>7:30pm</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-0 justify-content-start w-100">
        <div class="activity-left">
            <div class="activity-description">
                <div class="description-img">
                    <img src="assets/schedule/party.png" alt="">
                </div>
                <div class="description-text">
                    <p class="w-100 text-center m-0">Baile<br>8:00pm</p>
                </div>
            </div>
            <div class="separator">
                <div class="line"></div>
            </div>
        </div>
    </div>

</div>