
<div class="container-schedule">
    <div class="row g-0 justify-content-start w-100">
        <div class="activity-left">
            <div class="activity-description">
                <div class="description-text">
                    Boda religiosa<br>3:00pm
                </div>
                <div class="description-img">
                    <!-- <img src="../../../assets/schedule/church.png" alt=""> LOCAL-->
                    <img src="assets/schedule/church.png" alt="">
                </div>
            </div>
            <div class="separator">
                <div class="line"></div>
            </div>
        </div>
    </div>
    <div class="row g-0 justify-content-end w-100">
        <div class="activity-right">
            <div class="separator">
                <div class="line"></div>
            </div>
            <div class="activity-description">
                <div class="description-img">
                    <!-- <img src="../../../assets/schedule/bus.png" alt=""> LOCAL-->
                    <img src="assets/schedule/bus.png" alt="">
                </div>
                <div class="description-text">
                    Autobus<br>4:00pm
                </div>
            </div>
        </div>
    </div>
    <div class="row g-0 justify-content-start w-100">
        <div class="activity-left">
            <div class="activity-description">
                <div class="description-text">
                    Boda civil<br>5:30pm
                </div>
                <div class="description-img">
                    <!-- <img src="../../../assets/schedule/wedding.png" alt=""> LOCAL-->
                    <img src="assets/schedule/wedding.png" alt="">
                </div>
            </div>
            <div class="separator">
                <div class="line"></div>
            </div>
        </div>
    </div>
    <div class="row g-0 justify-content-end w-100">
        <div class="activity-right">
            <div class="separator">
                <div class="line"></div>
            </div>
            <div class="activity-description">
                <div class="description-img">
                    <!-- <img src="../../../assets/schedule/cheer.png" alt=""> LOCAL-->
                    <img src="assets/schedule/cheer.png" alt="">
                </div>
                <div class="description-text">
                    Recepción<br>6:00pm
                </div>
            </div>
        </div>
    </div>
    <div class="row g-0 justify-content-start w-100">
        <div class="activity-left">
            <div class="activity-description">
                <div class="description-text">
                    Entrada de novios<br>6:30pm
                </div>
                <div class="description-img">
                    <!-- <img src="../../../assets/schedule/dance.png" alt=""> LOCAL-->
                    <img src="assets/schedule/dance.png" alt="">
                </div>
            </div>
            <div class="separator">
                <div class="line"></div>
            </div>
        </div>
    </div>
    <div class="row g-0 justify-content-end w-100">
        <div class="activity-right">
            <div class="separator">
                <div class="line"></div>
            </div>
            <div class="activity-description">
                <div class="description-img">
                    <!-- <img src="../../../assets/schedule/dinner.png" alt=""> LOCAL-->
                    <img src="assets/schedule/dinner.png" alt="">
                </div>
                <div class="description-text">
                    Cena<br>7:30pm
                </div>
            </div>
        </div>
    </div>
    <div class="row g-0 justify-content-start w-100">
        <div class="activity-left">
            <div class="activity-description">
                <div class="description-text">
                    Baile<br>8:00pm
                </div>
                <div class="description-img">
                    <!-- <img src="../../../assets/schedule/party.png" alt=""> LOCAL-->
                    <img src="assets/schedule/party.png" alt="">
                </div>
            </div>
            <div class="separator">
                <div class="line"></div>
            </div>
        </div>
    </div>

</div>