.container-schedule {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px gray;
}

.activity-left{
    width: 50%;
    display: flex;
    flex-wrap: nowrap;
    border-right: 4px solid #4A6DC4;
    // margin-right: 50%;
}

.info-activity-left {
    width: calc(50% - 4px);
    padding: 4px;
    font-size: 13px;
    // display: flex;
    // flex-wrap: nowrap;
}

.box-info {
    border: 2px solid #4A6DC4;
    border-radius: 4px;
    padding: 5px;
}

.activity-right{
    width: calc(50% + 4px);
    display: flex;
    flex-wrap: nowrap;
    border-left: 4px solid #4A6DC4;
    // margin-left: 50%;
}

.activity-description {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    .description-text {
        width: 100%;
        display: flex;
        align-items: center;
        text-align: center;
    }
    .description-img {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 84px;
        }
    }
}


.separator {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    .line {
        background-color: #4A6DC4;
        height: 3px;
        width: 100%;
    }
}