.row-image {
    height: 250px;
    .show-map {
        height: 250px;
        display: none;
        color: white;
    }
    background-position: center;
    background-repeat: no-repeat;
}

.main-places {
    background-color: var(--color-secondary-boda);
}

app-schedule {
    width: 440px;
}

.container-places {
    background-image: url('../../../assets/places/eiffel1.png');
    background-position: right -5% bottom 45%;
    // background-position-x: -150px;
    // background-position-y: center;
    background-repeat: no-repeat;
    background-size: contain;
    // background-color: var(--color-secondary-boda);
    padding: 50px 70px;
    // opacity: 0.5;
}

.places-border-title {
    border-bottom: 1px solid #3E393030;
    padding: 20px;
    margin-bottom: 25px;
    p {
        text-align: center;
    }
}

.places-info {
    margin: 10px;
    padding: 20px;
    // width: calc(50% - 20px);
    background-color: white;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 1px gray;
    // padding: 20px;
    p {
        text-align: center;
        width: 100%;
    }
    button {
        width: fit-content;
    }
    display: grid;
    justify-items: center;
}

.info-title-1 {
    color: #AA54B8;
    font-size: 35px;
    font-family: 'Diphylleia', sans-serif;
    // font-weight: bold;
}

.info-title-2 {
    color: var(--color-primary-boda);
    font-size: 30px;
    font-weight: bold;
    font-family: 'Playfair Display', sans-serif;
    // font-weight: bold;
}

.info-body {
    // color: rgb(86, 85, 85);
    font-size: 15px;
    color: #AA54B8;
    font-family: 'Diphylleia', sans-serif;
    margin: 0px;
}

.places-border {
    border-right: 1px solid #3E393030;
}

@media (max-width: 576px) {
    .places-border {
        border-right: none;
        border-bottom: 1px solid #3E393030;
    }

    app-schedule {
        width: 100%;
    }
}

button {
    margin: 15px 0px;
}

.show-info {
    padding: 20px;
    background: linear-gradient(to top, var(--color-primary-boda), var(--color-secondary-boda) 5px);
    // background-color: var(--color-secondary-boda);
    display: flex;
    // flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    p {
        text-align: center;
        margin: 0px;
    }
}

.row-image:hover {
    .show-map {
        background-color: rgba(0,0,0,0.4);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}

.church {
    background-image: url('../../../assets/places/sagrario.jpg');
}
.party {
    background-image: url('../../../assets/places/villa\ chachi.jpg');
}