<div class="main-places">
    <div class="container-places">
            <div class="row g-0 places-border-title">
                <p class="info-title-1">SÁBADO, 31 DE AGOSTO DE 2024</p>
            </div>
            <div class="row g-0">
                <div class="col-sm-6 places-info places-border">
                    <i class="bi bi-arrow-through-heart" style="font-size: 30px; color: var(--color-primary-boda);"></i>
                    <p class="info-title-2">Ceremonia<br><span style="font-style: italic; font-size: 22px;">03:00 pm</span></p>
                    <p class="info-body">Parroquia el Sagrario</p>
                    <p class="info-body">Jr. Carabaya 220 – Plaza de Armas</p>
                    <button class="btn button-boda-1" (click)="openMapCeremonia()">Ubicación</button>
                    <!-- <p class="info-body">03:00 pm</p> -->
                </div>
                <div class="col-sm-6 places-info">
                    <i class="bi bi-house-heart" style="font-size: 30px; color: var(--color-primary-boda);"></i>
                    <p class="info-title-2">Recepción<br><span style="font-style: italic; font-size: 22px;">05:00 pm</span></p>
                    <p class="info-body">Villa Chachi</p>
                    <p class="info-body">Unidad Castral 12424. Fundo La Casica</p>
                    <button class="btn button-boda-1" (click)="openMapCelebracion()">Ubicación</button>
                    <!-- <p class="info-body">05:00 pm</p> -->
                </div>
            
                <!-- <div class="col-sm-6">
                    <div class="row g-0 row-image church" (click)="openMapCeremonia()">
                        <div class="show-map">
                            <p>Ver mapa</p>
                        </div>
                    </div>
                    <div class="row g-0 show-info">
                        <p class="info-title">Ceremonia</p>
                        <p class="info-body">Parroquia el Sagrario</p>
                        <p class="info-body">03:00 pm</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row g-0 show-info">
                        <p class="info-title">Recepción</p>
                        <p class="info-body">Villa Chachi</p>
                        <p class="info-body">05:00 pm</p>
                    </div>
                    <div class="row g-0 row-image party" (click)="openMapCelebracion()">
                        <div class="show-map">
                            <p>Ver mapa</p>
                        </div>
                    </div>
                </div> -->
            </div>
    </div>
</div>