<div class="row g-0">
    <div class="col-sm-6">
        <div class="row g-0 row-image church" (click)="openMapCeremonia()">
            <div class="show-map">
                <p>Ver mapa</p>
            </div>
        </div>
        <div class="row g-0 show-info">
            <p class="info-title">Ceremonia</p>
            <p class="info-body">Parroquia el Sagrario</p>
            <p class="info-body">03:00 pm</p>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="row g-0 show-info">
            <p class="info-title">Recepción</p>
            <p class="info-body">Villa Chachi</p>
            <p class="info-body">05:00 pm</p>
        </div>
        <div class="row g-0 row-image party" (click)="openMapCelebracion()">
            <div class="show-map">
                <p>Ver mapa</p>
            </div>
        </div>
    </div>
</div>