<div class="container-gift">
    <div class="row justify-content-center">
        <h1>Regalos</h1>
        <h3>Si deseas regalarnos algo más que tu hermosa presencia...</h3>
        <div class="row g-0 justify-content-center align-items-start">
            <!-- <img src="../../../assets/gift/gift.gif" class="gift-image"> -->
            <img src="assets/gift/gift.gif" class="gift-image">
        </div>
        <div class="row g-0 justify-content-center align-items-center h-100 w-auto">
            <button class="btn button-boda" data-bs-toggle="modal" data-bs-target="#detailGift">Ver más</button>
        </div>
    </div>
</div>

<div class="modal fade" id="detailGift" tabindex="-1" aria-labelledby="detailGiftLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
            <p>Aunque lo que más valoramos es tu presencia, si quieres tener un detalle con nosotros, que mejor regalo que un aporte para nuestro viaje soñado. ¡Gracias!</p>
            <ul>
                <li><i class="bi bi-cash"></i> Efectivo colocándolo en un sobre y depositándolo en el cofre que se encontrará en la entrada de la recepción</li>
                <li><i class="bi bi-phone"></i> Yape/Plin: 976812093 - Dina Paola Gonzales Milla</li>
                <li><i class="bi bi-bank"></i> BCP Cuenta Sueldo: 19397017275045 - Orlando Flavio Vilca Pulido</li>
                <li><i class="bi bi-bank"></i> BCP CCI: 00219319701727504510 - Orlando Flavio Vilca Pulido</li>

            </ul>
            <!-- <form>
                <input type="text" class="form-control my-3" id="cancionNombreSugiere" placeholder="Ingresa tu nombre">
                <input type="text" class="form-control my-3" id="cancionNombre" placeholder="Ingresa nombre de la canción y autor">
                <input type="text" class="form-control my-3" id="cancionLink" placeholder="Si lo desea ingrese el link de YouTube, Spotify, etc.">
            </form> -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn button-boda" data-bs-dismiss="modal">Gracias por tu apoyo</button>
        </div>
      </div>
    </div>
</div>