.gift-image {
    width: 200px;
    height: 200px;
}

// .button-boda {
//     width: 200px;
//     height: 200px;
// }

h1, h3 {
    text-align: center;
    color: #4d4d4d;
}

.container-gift {
    background-color: var(--color-primary-boda);
    padding: 50px;
}

.modal-content {
    background-color: var(--color-secondary-boda);
    color: var(--color-primary-boda);
}