.gift-image {
    width: 200px;
    height: 200px;
}

// .button-boda {
//     width: 200px;
//     height: 200px;
// }

h1, h3 {
    text-align: center;
}

.container-gift {
    background-color: white;
    padding: 50px;
}