.container-confirmation {
    padding: 50px;
    background-color: var(--color-secondary-boda);
}

h1, h3 {
    text-align: center;
    color: var(--color-primary-boda);
}

h1 {
    font-weight: bold;
    font-family: 'Playfair Display', sans-serif;
    font-size: 60px;
}
h3 {
    color: #AA54B8;
    font-size: 30px;
}