<div class="container-confirmation">
    <div class="row g-0 justify-content-center">
        <img src="../../../assets/confirm/confirm-assistence.png" alt="" style="width: 100px; height: 100px;">
        <h1>Confirma tu asistencia</h1>
        <h3>Deseamos que nos acompañes en este momento muy especial para nosotros</h3>
    </div>
    <div class="row g-0 justify-content-center align-items-center h-100 w-auto mt-3">
        <button class="btn button-boda w-auto" (click)="openWsp()">Confirmar</button>
    </div>
</div>