/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

:root {
    // --color-primary-boda: #6DA8DC;//#039EDB;
    // --color-secondary-boda: #F6E1FF;//#CB77FF;
    --color-primary-boda: #E7DAEE;//#039EDB;  fffff0
    --color-secondary-boda: #5DAAD6;//#CB77FF;
}

body {
    height: 100%;
    background-color: var(--color-primary-boda);
}

.button-boda-1 {
    // background-color: var(--color-primary-boda);
    background-color: var(--color-primary-boda);
    color: black;
    border-radius: 30px;
}

.button-boda-1:active {
    background-color: #155185!important;
    color: white!important;
    border-radius: 30px;
}

.button-boda-1:hover {
    background-color: #155185!important;
    color: white!important;
    border-radius: 30px;
}

.button-boda {
    // background-color: var(--color-primary-boda);
    background-color: #155185;
    color: white;
    border-radius: 30px;
}

.button-boda:active {
    background-color: var(--color-primary-boda)!important;
    color: black!important;
    border-radius: 30px;
}

.button-boda:hover {
    background-color: var(--color-secondary-boda);
    // background-color: var(--color-secondary-boda);
    color: black;
    border-radius: 30px;
}