ngb-carousel {
    height: calc(100vh - 55px);
    .divPhoto {
        display: flex;
        justify-content: center;
        height: calc(100vh - 70px);
        // background-color: var(--color-primary-boda);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    // img {
    //     height: 400px;
    // }
}

.date-carousel {
    border: 2px solid #DBBD00;
    margin-bottom: 5%;
    padding: 5px 30px 10px;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    width: fit-content;
}

.name-carousel {
    font-family: 'Alex Brush', serif;
    font-size: 85px;
    line-height: 75px;
    // font-weight: 700;
}

.and-carousel {
    font-family: '"Nunito"', serif;
    font-size: 40px;
    background-color: var(--color-primary-boda);
    border-radius: 50%;
    padding: 10px 20px;
    color: #4A6DC4;
    width: fit-content;
}

.navbar-boda {
    padding: 15px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

@media (min-width:576px) {
    .navbar{
        background-color: transparent;
    }
    
    // ngb-carousel {
    //     top: -86px;
    // }
}

@media (max-width:576px) {
    .navbar{
        background-color: var(--color-secondary-boda);
    }
}

nav {
    z-index: 100;
}

a {
    color: var(--color-primary-boda)!important;
}

a.active {
    font-weight: bold;
}

.portado-foto {
    background-image: url('../../../assets/carousel/carousel2.png');
    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: nowrap;
    justify-content: end;
    height: 100%;
}

.dividersCarousel {
    margin-top: -75px;
}

.portada-foto-layout {
    background-image: url('../../../assets/carousel/curva_portada_vertical.svg');
    
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    width: 25%;
    height: 100%;
}

.carousel-container {
    height: calc(100vh - 40px);
}

.names-carousel {
    margin-top: -50px;
    background-color: var(--color-secondary-boda);
}

.show-carousel {
    margin-top: -67px;
    display: none;
}

@media (max-width: 576px) {
    .dividersCarousel {
        margin-top: -82px!important;
    }
    .portado-foto {
        height: 100vh;
    }
    ng-carousel {
        height: 100%!important;
    }

    .show-carousel {
        display: block;
    }
    .names-carousel {
        margin-top: 0px;
    }

    .portada-foto-layout {
        height: 100vh!important;
    }

    .carousel-container {
        height: 100%;
    }

    .hide-carousel {
        display: none;
    }

    .portada-foto-layout {
        background-image: none;
    }
}